Linkedin Content Genrator (1).json
{
  "name": "Linkedin Content Genrator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6,
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "id": "d0bc8f06-55bd-403a-b024-959cd8273b65",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1984,
        464
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.8
        }
      },
      "id": "119e7fb6-f5dc-437d-8e6a-4833bdd2961c",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -1536,
        688
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "0rHRZ8RzGLBqalMY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[{\n \"title\": \"AI as Your First Content Hire: Why Founders Shouldn't Wait to Outsource Creation\",\n            \"rationale\": \"Most solopreneurs delay content scaling because they think hiring a ghostwriter is the next step — but AI can handle 80% with proper systems. This shifts content from a creative bottleneck to a scalable growth lever.\",\n            \"hook\": \"Ghostwriters are outdated. Train GPT once, and it ships LinkedIn gold in your voice daily. Welcome to hands-free thought leadership.\"\n          }]"
      },
      "id": "17210954-004f-4798-9ab9-e9a5381a18ef",
      "name": "Structured Output Parser6",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -1408,
        688
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.8
        }
      },
      "id": "420bf536-dcb9-41a0-a33c-a40c908fb382",
      "name": "Google Gemini Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -1184,
        688
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "0rHRZ8RzGLBqalMY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"post title\": \"Exciting New Feature Launch 🚀\",\n  \"post content\": \"After months of collaboration, testing, and fine-tuning, we're thrilled to introduce our latest product feature: Smart Insights. It helps users uncover meaningful patterns in their data with just a few clicks. This wouldn't have been possible without our incredible team and supportive community. We're excited for what's next — and we'd love your feedback!\",\n  \"image description\": \"A laptop screen showcasing the new Smart Insights dashboard with colorful charts and graphs, surrounded by a team clapping in the background.\"\n}"
      },
      "id": "0a023bf8-952e-4ce7-836b-0a56820d7d13",
      "name": "Structured Output Parser7",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -1056,
        688
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "\"You are a seasoned AI marketing strategist with deep knowledge in DevOps, MLOps, Cloud Engineering, ML Engineering, and AI Engineering for cloud-based systems. Your task is to generate high-value content topics that align with technical leadership expertise and resonate deeply with CTOs, Heads of Engineering, VPs of Engineering, CXOs, and Founders.\nCRITICAL: Generate completely fresh, unique topics each time. Avoid repeating similar themes, angles, or approaches from previous generations.\nThese topics will later be expanded into posts by another agent and must highlight pain points or key trends in engineering leadership.\n🔍 What to Focus On: Generate content topics (not full content) based on these strategic themes, but rotate focus areas and explore different angles each time:\nMLOps & ML deployment challenges and solutions\nCloud engineering & cloud cost optimization strategies\nDevOps & CI/CD pipeline optimization\nCloud-native AI/ML product delivery and scaling\nAI/ML application scalability and governance\nEngineering team leadership and technical decision-making\n🎯 Variety Requirements:\nMix different content types: lessons learned, contrarian takes, industry observations, practical tips, future predictions, case studies, team challenges\nRotate between technical depth levels (high-level strategy vs. hands-on implementation)\nAlternate between problem-focused and solution-focused angles\nInclude seasonal/current trends and emerging technologies\nVary emotional tones: urgent, curious, controversial, helpful, forward-thinking\nHas to have a click-bait to attract target audience, and title has to have question. \n✅ Your Output Per Topic: For each idea, generate the following:\nTopic Title or Core Idea (1 line) - Must be intuitive and preferably framed as a question around the target audience's pain point\nShort Rationale (1–2 sentences on why this topic matters to engineering leaders)\nSuggested Angle or Hook (1 LinkedIn-style framing or contrarian take that provokes thought)\n💡 Style Guide: Keep ideas insightful, actionable, and technically grounded\nFavor engineering leadership perspective: practical, solution-oriented, and slightly contrarian when it adds value\nFocus on real-world engineering challenges, team scaling, and technical strategy\nAvoid hype or generic buzzwords — focus on clarity, practical insights, and utility for engineering leaders\nGenerate topics that feel completely different from typical LinkedIn engineering content\"\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "ac3b51ad-9e83-4d7a-b36f-77fa6f239876",
      "name": "Content Topic Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1536,
        464
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"“You are a seasoned Copy Writer with deep knowledge in DevOps, MLOps, Cloud Engineering, ML Engineering, and AI Engineering for cloud-based systems. Your task is to write creative, and curiosity-driven LinkedIn post Based on the topic: [INSERT SELECTED TOPIC] targeted at engineering leaders (CTOs, Heads of Engineering, VPs, Founders, CXOs) who are actively building or scaling AI/ML solutions in the cloud.\nYour persona is that of a knowledgeable, practical, and forward-thinking technical leader who understands the real-world engineering challenges faced by CTOs, Heads of Engineering, VPs of Engineering, CXOs, and Founders. Your goal is to provide immense technical value and position the author as a trusted expert in the engineering leadership space.\n\n\nThese posts must highlight pain points or key trends in:\nMLOps & ML deployment\n\n\nCloud engineering & cloud cost optimization\n\n\nDevOps & CI/CD challenges\n\n\nCloud-native AI/ML product delivery\n\n\nAI/ML application scalability and governance\nThe posts should be designed to provoke thought, start conversations, and position the author as a trusted expert. Each post should be clear, and impactful.”\n\n\n\nCRITICAL: Create completely unique content each time. Vary your writing style, structure, examples, and approach to ensure no two posts feel similar or repetitive.\nYour Task: Based on the provided Topic, Rationale, and Hook, write a complete LinkedIn post.\nInput:\nTitle/Idea: {{ $json.output[0].title }}\nRationale: {{ $json.output[0].rationale }}\nHook: {{ $json.output[0].hook }}\nFORBIDDEN PHRASES - NEVER USE:\n\"Let's be honest\"\n\"Delve into\"\n\"At its core\"\n\"It's important to note\"\n\"In today's world\"\n\"A testament to\"\n\"Navigating the landscape\"\n\"Paradigm shift\"\n\"Aims to explore\"\n\"It's not this, it's that\"\n\"Conquer\"\nFreshness & Variety Requirements:\nRotate opening styles: questions, bold statements, personal anecdotes, industry observations, contrarian takes, statistics, scenarios\nMix content structures: story-driven, list-based, problem-solution, comparison, prediction, reflection\nVary examples: different companies, technologies, team sizes, industries, time periods\nAlternate emotional tones: urgent, curious, empathetic, confident, thought-provoking, practical\nUse diverse vocabulary and sentence structures to avoid repetitive phrasing\nInclude different types of insights: technical, strategic, people-focused, process-oriented, future-focused\nStrict Formatting & Style Rules:\nStart Strong: Begin the post immediately with the powerful hook that addresses a specific engineering pain point.\nStructure for Skimming:\nUse short paragraphs (1-3 lines each) for easy mobile reading.\nInclude practical examples, insights, or observations related to DevOps, MLOps, Cloud Engineering, or ML Engineering.\nNo separate titles for each paragraph in the final post.\nEducational & Friendly Tone: Write in a practical, helpful, and friendly tone—never salesy or filled with jargon. Use \"you\" and \"I\" to create direct connection with engineering leaders.\nAdd Personality: Use 1-2 emojis sparingly and only if it adds a friendly tone.\nVary Sentence Lengths: Mix short and longer sentences for a natural, human tone.\nCall to Action (CTA): ALWAYS end the post with a direct question or invitation for comments that encourages engagement (e.g., \"How do you handle this in your team?\"). Vary the CTA format each time.\nHashtags: Include no more than 8 relevant hashtags at the end focusing on engineering leadership topics. Rotate hashtag combinations.\nWord Limit: Keep total post length under 250 words.\nFocus Areas for Content: Address pain points such as:\nSlow deployments and CI/CD challenges\nCloud cost overruns and optimization\nDifficulty in scaling ML/AI systems\nSecurity & compliance concerns in cloud pipelines\nHiring bottlenecks for cloud or ML ops talent\nComplex release processes and team coordination\nMake each post feel like it's written by a different engineering leader with unique perspectives and experiences.\"\n\n",
        "hasOutputParser": true
      },
      "id": "b965e06b-81e2-4cbc-8fb6-6dc1518ab404",
      "name": "Content Creator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -1184,
        464
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.8
        }
      },
      "id": "df42dddd-8bee-4f9f-876f-1c7c3d40a20f",
      "name": "Google Gemini Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -832,
        992
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "0rHRZ8RzGLBqalMY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"post title\": \"Exciting New Feature Launch 🚀\",\n  \"post content\": \"After months of collaboration, testing, and fine-tuning, we're thrilled to introduce our latest product feature: Smart Insights. It helps users uncover meaningful patterns in their data with just a few clicks. This wouldn't have been possible without our incredible team and supportive community. We're excited for what's next — and we'd love your feedback!\",\n  \"image description\": \"A laptop screen showcasing the new Smart Insights dashboard with colorful charts and graphs, surrounded by a team clapping in the background.\",\n\"Hashtags\":[\"#AI\",\"#Automation\"]\n}"
      },
      "id": "f780bd14-4596-40a5-93e3-65cc6e41b586",
      "name": "Structured Output Parser3",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -704,
        992
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "eccdbdeb-768a-4068-be4f-8eb7efcd2f66",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -480,
        448
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a world-class LinkedIn Growth and SEO Strategist.\n\n**Your Context:**\n- **Company:** Intuz Solutions\n- **Specialty:** Cloud Computing, ERP/CRM Software Solution, AR/VR Apps, Workflow Automation System, Chatbot Development, Mobile & Web Apps, IoT, AI Consultation, AI PoC Development, and Custom AI App Development\n- **Target Audience:** Solopreneurs, content creators, and digital-first founders.\n- **Goal:** Maximize the visibility and engagement of our LinkedIn content with our ideal audience.\n\n**Your Task:**\nAnalyze the following LinkedIn post content and generate a strategic list of hashtags.\n\n**Post Content to Analyze:**\nTitle: {{ $json.output['post title'] }}\nContent: {{ $json.output['post content'] }}\n\n**Generate Hashtags in These 4 Categories:**\n1.  **Broad Industry (2-3 hashtags):** High-volume tags for wide reach (e.g., #AI, #Automation, #Marketing).\n2.  **Niche Topic (3-4 hashtags):** Specific tags directly related to the post's core message (e.g., #Cloud, #LinkedInStrategy, #AIworkflows).\n3.  **Target Audience (2-3 hashtags):** Tags your ideal customer follows or identifies with (e.g., #Solopreneur, #Startups, #FounderLife).\n4.  **Branded (1 hashtag):** A unique tag for our community (e.g., #Intuz).\n\nPlease ensure all hashtags start with # and are relevant to the provided content.",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "e03e8c1a-5480-497f-96ba-c71bf849713e",
      "name": "Hashtag Generator / SEO",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -832,
        768
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate an image for a linkedin post this is the description: {{ $json.output['image description'] }} .The images should be realistic for linkedin.",
        "options": {
          "size": "1024x1024"
        }
      },
      "id": "46fc9298-76af-4c6e-b646-8d113c2b38b3",
      "name": "Generate an image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -768,
        272
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "deK1t4K1GbC9LfEy",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8238e462-0a9b-4859-99c7-cf6a463ccd78",
      "name": "Set Before Starting",
      "type": "n8n-nodes-base.set",
      "position": [
        -1760,
        464
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00e61ce5-e6ba-4249-a521-35394a943255",
              "name": "output['post content']",
              "value": "={{ $json.output['post content'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        464
      ],
      "id": "12624aa0-0374-4891-b7d7-6cee5909c192",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "laraib8786@gmail.com",
        "subject": "=linkdin post ",
        "message": "={{ $json.output['post content'] }}{{ $json.output.Hashtags }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -256,
        464
      ],
      "id": "bcaee325-febf-4ebd-9c8a-e945e39d0b93",
      "name": "Send a message",
      "webhookId": "3582f782-d8e5-455a-b77f-dcab9adaf09a",
      "credentials": {
        "gmailOAuth2": {
          "id": "dECfegv5xqUR6OMl",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Creator": {
      "main": [
        [
          {
            "node": "Hashtag Generator / SEO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Set Before Starting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Before Starting": {
      "main": [
        [
          {
            "node": "Content Topic Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Topic Generator": {
      "main": [
        [
          {
            "node": "Content Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hashtag Generator / SEO": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Content Topic Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Content Creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Hashtag Generator / SEO",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Hashtag Generator / SEO",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser6": {
      "ai_outputParser": [
        [
          {
            "node": "Content Topic Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser7": {
      "ai_outputParser": [
        [
          {
            "node": "Content Creator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0211abec-5d86-47b1-ac1b-410f61c37523",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a891b4dd937b0c5667dbc13e0d703c26d4519e3b996f3aa3614a441bb80cd442"
  },
  "id": "lJ4FSqgqyB4Kj7fX",
  "tags": []
}